header{
    z-index: 2;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    @include transition();
    .logo{
        img{
            -webkit-box-shadow: 0 0 30px rgba(0,0,0,0.75);
            -moz-box-shadow: 0 0 30px rgba(0,0,0,0.75);
            box-shadow: 0 0 30px rgba(0,0,0,0.75); 
        }
    }
    .mainMenu{
        text-align: right;
        li{
            display: inline-block;
            padding-left: 20px;
            a{
                color: $amarelo;
                font-family: $museo700;
                font-size: rem(14);
                @include transition();
                &:hover{
                    color: $branco;
                    text-decoration: none;
                }
            }
            a.ativo{
                color: $branco;
            }
        }
    }
}
header.stick{
    background: $vermelho;
    .logo{
        img{
            width: 90px;
            box-shadow: none;
        }
    }
}


/*============================================
QUERYS
===========================================*/

@media (max-width: 575px) {
    header{
        height: 85px;
        .container, .row{height: 100%;}
        background: $vermelho;
        .logo{
            img{
                width: 90px;
                box-shadow: none;
            }
        }
        .mainMenu{
            li{
                display: block;
                padding-left: 0;
                a{
                    font-size: rem(13);
                }
            }
        }
    }
    .conteudo{
        padding-top: 85px;
    }
}

/*//////////////////////////////////////////////////*/

@media (min-width: 576px) and (max-width: 767px) {
}

/*////////////////////////////////////////////////////*/

@media (min-width: 768px) and (max-width: 991px) {

}

/*/////////////////////////////////////////////////////*/

@media (min-width: 992px) and (max-width: 1199px) {

}

/*///////////////////////////////////////////////////////*/

@media (min-width: 1200px) {

}

/*///////////////////////////////////////////////////////*/

@media (min-width: 1500px) {

}
